[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "2.3.1"
PyYAML = "6.0.1"

uvicorn = "0.23.1"
fastapi = "0.109.1"
requests = "2.31.0"
pydantic = "2.6.1"
pydantic-settings = "2.1.0"

SQLAlchemy = "2.0.27"
psycopg2-binary = "2.9.9"
alembic = "1.13.1"
sqladmin = "0.16.0"
SQLAlchemy-Utils = "0.41.1"

qdrant-client = "1.7.3"

[dev-packages]
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
polars = {extras = ["all"] }
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
sympy = "*"
fastembed = "*"
plotly = "*"

[requires]
python_version = "3.11"
