[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyJWT = "2.8.0"
sentence-transformers = "2.3.1"
PyYAML = "6.0.1"
uvicorn = "0.23.1"
fastapi = "0.109.1"
requests = "2.31.0"
pydantic = "2.6.1"
sqlalchemy = "2.0.27"
psycopg2-binary = "2.9.9"
asyncpg = "0.29.0"
alembic = "1.13.1"
bcrypt = "4.1.2"
qdrant-client = "1.7.3"
python-multipart = "0.0.9"
polars = {extras = ["all"] }


[dev-packages]
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
sympy = "*"
fastembed = "*"
plotly = "*"
pytest = "*"
aiosqlite = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
